<form data-bind="submit: register">
    <label for="email">Email</label>
    <input type="text" name="email" data-bind="value: email"/>

    <label for="confirmEmail">Confirm Email</label>
    <input type="text" name="confirmEmail" data-bind="value: confirmEmail"/>

    <label for="password">Password</label>
    <input type="password" name="password" data-bind="value: password"/>

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" data-bind="value: confirmPassword"/>

    <input type="submit" value="Register"/>
</form>