<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>OCRE</display-name>	
	
	<!-- Declare the existence of a servlet. -->
	<!-- Handles all requests into the application -->
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
<!-- 		<servlet-class>httpextractor.adapter.servlet.FrontServlet</servlet-class> -->
		<servlet-class>ocre.adapter.servlet.OcreServlet</servlet-class>
<!-- 		<init-param> -->
<!-- 			<param-name>routes</param-name> -->
<!-- 			<param-value>app.ApplicationRoutes</param-value> -->
<!-- 		</init-param> -->
	</servlet>

	<!-- Map URLs to that servlet. -->
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
</web-app>
